<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body_block %}
{% endblock %}

<!--1.In the parent template, we can define any number of blocks. But child template is responsible to implement these blocks-->
<!--2. It is not mandatory to implement every parent block in child.-->
<!--3.Based on requirement , child template can decide which blocks are require to implement-->
<!--4.while implementing blocks in child template , it is not require to follow order-->
</body>
</html>