<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>See Voter :  {{voter.id}} is {{voter.VoterName}} Details</h3>
<ol>
  <li>VoterId : {{voter.VoterId}}</li>
  <li>Votername : {{voter.VoterName}}</li>
  <li>Voterage : {{voter.VoterAge}}</li>
  <li>VoterAddress : {{voter.VoterAddress}}</li>
    <li><h5><a href="/update/{{voter.id}}">Update</a></h5></li>
    <li><h5><a href="/delete/{{voter.id}}">Delete</a></h5></li>
</ol>
<br/>
<a href="/">Back</a>
</body>
</html>

